body {
    font-family: Arial;
    margin: 2rem;
}

#console {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
    background: #f0f0f0;
}

#input {
    width: 80%;
    padding: 10px;
}

#send {
    padding: 10px;
}
